<div>
	<form>
      <mat-form-field>
        <mat-select placeholder="City" [(ngModel)]="selectedValue" name="city">
            <mat-option *ngFor="let city of cities" [value]="city.value">
              {{city.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input matInput [matDatepicker]="pickerStart" placeholder="Choose a date">
          <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
          <mat-datepicker #pickerStart [startAt]="startDate"></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <input matInput [matDatepicker]="pickerEnd" placeholder="Choose a date">
          <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
          <mat-datepicker #pickerEnd [startAt]="startDate"></mat-datepicker>
        </mat-form-field>
        <p> Selected value: {{selectedValue}} </p>
        <button mat-button (click)="changeForecast()">Request the weather</button>
    </form>
</div>
<p>last request: {{lastReq}}</p>
<h2>weathers</h2>

<ul class="weathers">
	<li *ngFor="let weatherEl of weatherArr">
      <h2>{{weatherEl.text}}</h2>
      <div><span>code: </span>{{weatherEl.code}}</div>
      <div><span>date: </span>{{weatherEl.date}}</div>
      <div><span>high: </span>{{weatherEl.high}}</div>
      <div><span>low: </span>{{weatherEl.low}}</div>
    </li>
</ul>
<div>{{lastReq}}</div>
<div class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="weatherSource">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Date Column -->
    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.date}} </mat-cell>
    </ng-container>

    <!-- Day of the week Column -->
    <ng-container matColumnDef="day">
      <mat-header-cell *matHeaderCellDef> Day </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.day}} </mat-cell>
    </ng-container>

    <!-- Higher Temp Column -->
    <ng-container matColumnDef="high">
      <mat-header-cell *matHeaderCellDef> Higher Temp </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.high}}°F </mat-cell>
    </ng-container>

    <!-- Lower Temp Column -->
    <ng-container matColumnDef="low">
      <mat-header-cell *matHeaderCellDef> Lower temp </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.low}}°F </mat-cell>
    </ng-container>

    <!-- Text Column -->
    <ng-container matColumnDef="text">
      <mat-header-cell *matHeaderCellDef> Text </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.text}} </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
