
<div class="dx-field">
  <div class="dx-field-label">Product</div>
  <div class="dx-field-value">
    <dx-select-box #selectBox [dataSource]="cities" valueExpr="value" displayExpr="viewValue" [(ngModel)]="selectedValue">
    </dx-select-box>
  </div>
</div>
<div class="current-value">
  Selected product is <span>{{selectedValue}}</span>
</div>
<p>last request: {{lastReq}}</p>
<h2>weathers</h2>

<dx-button text="Request the weathers" (onClick)="changeForecast()"></dx-button>
<dx-data-grid id="gridContainer"
              [dataSource]="weatherArr"
              [rowAlternationEnabled]="true">
  <dxi-column dataField="date" [width]="90" dataType="date"></dxi-column>
  <dxi-column caption="Day" [width]="60" dataField="day"></dxi-column>
  <dxi-column caption="High" cellTemplate="highDiffCellTemplate"></dxi-column>
  <dxi-column caption="Low" cellTemplate="lowDiffCellTemplate"></dxi-column>
  <dxi-column caption="Weather" dataField="text"></dxi-column>

  <div *dxTemplate="let d of 'highDiffCellTemplate'" [class]="d.data.diffHigh >= 0 ? (d.data.diffHigh == 0 ? '' : 'inc') : 'dec'">
    <span class="current-high">{{d.data.high}}</span>
  </div>
  <div *dxTemplate="let d of 'lowDiffCellTemplate'" [class]="d.data.diffLow >= 0 ? (d.data.diffLow == 0 ? '' : 'inc') : 'dec'">
    <span class="current-low">{{d.data.low}}</span>
  </div>
</dx-data-grid>

<dx-chart id="weather-chart"
          palette="violet"
          [dataSource]="weatherArr">
  <dxo-export [enabled]="true"></dxo-export>
  <dxo-argument-axis argumentType="date"
                     type="discrete">
  </dxo-argument-axis>
  <dxi-value-axis valueType="numeric">
    <dxi-constant-line [value]="32" id="temp-null" color="#35fc35"></dxi-constant-line>
  </dxi-value-axis>
  <dxi-series type="spline"
              valueField="high"
              argumentField="date"
              name="High, °F"
              color="#fc3535"></dxi-series>
  <dxi-series type="spline"
              valueField="low"
              argumentField="date"
              name="Low, °F"
              color="#3535fc"></dxi-series>
</dx-chart>


<div>{{query}} {{fetchStr}}</div>
